<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kashyapsandesh.flutter_incoming_request">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />

    <application>
        <service
            android:name=".RequestService"
            android:enabled="true"
            android:exported="false" />
    </application>
</manifest>